* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  padding: 10;
  font-family: Arial, Helvetica, sans-serif;
  background: #e2e2e2;

}

h2 {
  color: orange;
  margin: 1rem;
}

header {
  /* background-color: gray; */
  background: #cecdcd;

  color: white;
  padding: 2rem;
  position:fixed;
  width: 96%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #333;
}


section {
  padding: 2rem;
}

#about h2 {
  text-align: center;
  gap: 2rem;
}

#hero {
  background: #e2e2e2;
  text-align: center;
  padding: 4rem 2rem;
  
}
#hero img{
  margin-top:4rem ;
}

#about {
  text-align: left;
  background: #cecdcd;
}
#skills{
  width:75%
}
#skill h2 {
  margin: 2rem;
}

#skills li {
  text-align: left;
}
#projects{
  background: #cecdcd;

}

.project_details{
  text-align: left;
  
}


/* 
.project {
  background-color: rgb(109, 243, 109);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 750px;

} */

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
}

img {
  border-radius: 100px;
  padding: 1rem;
  width: 100px;
}

button {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #333;
  margin: 2rem;
  font-size: medium;
  font-weight: 700;
  color: white;
}

button:hover {
  background-color: orange;
  /* color: white; */
}

#contact {
  text-align: left;
  background: #cecdcd;
  /* display: flex; */
}
#contact .details{
  /* width:500px; */
  display: flex;
  justify-content: space-around;

}
/* #contact .details p{
  width: 75%;
} */
/* #contact .details .content p{
  width: 50%;
} */
#contact .content{
  /* background-color: #a19797; */
  width: 65%;
}
#contact h2 {
  text-align: center;

}
#contact address a img{
  width: 30px;
  align-items: center;
}
#contact form{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: #458cca;
  padding: 2rem;
  border-radius: 5px;
}
.form button{
  color: white;
  background-color:#25D366;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input{
  margin: 7px;
  padding: 2px;
  width: 90%;
  color:brown;
  border-radius: 4px;
}
@media (min-width:500)and
(max-width:1024px) {

  #about,
  #projects,
  #contact {
    width: 750px;
  }
}

@media (max-width:500px) {
  h2 {
    color: blue;
  }

  body {
    background-color: rgb(171, 245, 171);
  }

}
  @media (max-width: 600px) {
      .form-container {
        padding: 15px;
      }

      input, textarea, button {
        font-size: 14px;
      }
    }