* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body { 
  font-family:Arial, Helvetica, sans-serif;
  background: #e2e2e2; 
}

h2 {
  color: orange;
  margin: 1rem;
}

header {
 background-color: gray; 
  background: orange;
  color: white;
  padding: 2rem;
  width: 96%;
}

header nav h1:hover {
  color: red;
  font-family:cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color:#333;
}

#hero {
  background: #e2e2e2;
  text-align: center;
  padding: 6rem 2rem;
  height: auto;
  /* margin-bottom: 4rem; */

}

#hero img {
  margin-top: 6rem;
}

#About {
  text-align: left;
  background: #cecdcd;
  margin-bottom: 4rem;
  padding: 2rem;

}

#About h2 {
  text-align: center;
  gap: 2rem;
}

#skills {
  width: 75%;
  padding: 2rem;
  margin-bottom: 2rem;
  background: #cecdcd;


}
#skills h2 {
  margin: 2rem;
}

#skills li {
  text-align: left;
}

#projects {
  background: #cecdcd;
  padding: 2rem;
  margin-bottom: 4rem;
  background: #cecdcd;

}

#Education{
  padding: 2rem;
  background: #cecdcd;

}
.project_details {
  text-align: left;

}
footer{
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
}

img {
  border-radius: 100px;
  padding: 1rem;
  width: 100px;
}

button {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #333;
  margin: 2rem;
  font-size: medium;
  font-weight: 700;
  color: white;
}

button:hover {
  background-color:orange;
}

#contact {
  text-align: left;
  background: #cecdcd;
  padding: 2rem;
}

#contact .details {
  display: flex;
  justify-content: space-around;

}


#contact .content {
  width: 65%;
}

#contact h2 {
  text-align: center;

}

#contact address a img {
  width: 30px;
  align-items: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: orange;
  padding: 2rem;
  border-radius: 5px;
}

.form button {
  color: white;
  background-color: #25D366;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  margin: 7px;
  padding: 2px;
  width: 90%;
  color: brown;
  border-radius: 4px;
}


@media (max-width:500px){
  nav ul{
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
  }
}
@media (max-width:500px) {
  header {
    background-color: blue;
  }
}

@media (max-width:500px) {
  h2 {
    color: blue;
  }

  body {
    background-color: rgb(171, 245, 171);
    width: 100%;
  }

}

@media (max-width: 500px) {

  #contact form {
    background-color: rgb(0, 0, 255);
  }

  input,
  textarea,
  button {
    font-size: 16px;
  }
}